<div class="container">
   {{>header}}

   {{#if products.length}}
   <table class="content-table">
      <thead>
         <tr class="head-tr">
            <th>Producto</th>
            <th>Precio</th>
            <th>URL de imagen</th>
         </tr>
      </thead>
      <tbody class="table-body">
         {{#each products}}
         <tr>
            <td>{{title}}</td>
            <td>${{price}}</td>
            <td><img src={{thumbnail}} alt={{title}} width="64" height="64" title={{title}}></td>
         </tr>
         {{/each}}
      </tbody>
   </table>

   {{else}}
   <p class="empty">No hay ningun producto guardado...</p>


   {{/if}}
</div>